[submodule "udemy/terraform-course"]
	path = udemy/terraform-course
	url = https://github.com/wardviaene/terraform-course
[submodule "udemy/diveintoansible"]
	path = udemy/diveintoansible
	url = git@github.com:spurin/diveintoansible.git
[submodule "udemy/diveintoansible-lab"]
	path = udemy/diveintoansible-lab
	url = git@github.com:spurin/diveintoansible-lab.git
[submodule "udemy/kubernetes-course"]
	path = udemy/kubernetes-course
	url = https://github.com/lm-academy/kubernetes-course.git
[submodule "udemy/docker-course"]
	path = udemy/docker-course
	url = https://github.com/lm-academy/docker-course.git
